figure{
    overflow: hidden;
    height: 200px;
    border-radius:0 20px 0 20px;
    img{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
           -o-object-position: top center;
              object-position: top center;
    }
}