@media screen and (max-width: $break-xlarge) {
  @each $i, $y in $cards {
    .card#{$i} {
      flex-basis: 25%;
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: $break-large) {


  section:nth-child(1) {
    blockquote {
      text-align: center;
      width: 80% !important;
      margin: 3rem auto;
      font-size: 1.8rem !important;
      line-height: 3.5rem;
    }
  }
  @each $i, $y in $cards {
    .card#{$i} {
      flex-basis: 30%;
      flex-grow: 0;
    }
  }

}

@media screen and (max-width: $break-medium) {
  header{
    background-position: center, $space calc($space + 20px);
  }
  @each $i, $y in $cards {
    .card#{$i} {
      flex-basis: 45%;
    }
  }
  h1 {
    font-size: 1.8rem;
  }
  section:nth-child(1) {
    blockquote {
      text-align: center;
      width: 100% !important;
      font-size: 1.8rem !important;
    }

    > div {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: $break-small) {

  @each $i, $y in $cards {
    .card#{$i} {
      flex-basis: 80%;
    }
  }
  nav ul {
    display: none !important;
  }

  h1 {
    font-size: 1.4rem;
  }

  section:nth-child(1) {
    blockquote {
      text-align: center;
      width: 100% !important;
      margin: 2rem auto;
      font-size: 1.5rem !important;
      line-height: 2.5rem;
      &::before {
        content: "";
        display: inline-block;
        height: 2rem !important;
        width: 2rem !important;
        background-size: 2rem 2rem !important;
        background-image: url(../img/quote.svg);
        background-repeat: no-repeat;
      }

      &::after {
        content: "";
        display: inline-block;
        height: 2rem !important;
        width: 2rem !important;
        background-size: 2rem 2rem !important;
        background-image: url(../img/quote2.svg);
        background-repeat: no-repeat;
      }
    }
    > div {
      width: 100% !important;
    }
  }
}




/* from sonja
 @media screen and (min-width: 600px) {
  :root {
  --test: 100px;
  }
  }
  
  
  @media screen and (min-width: 1000px) {
  :root {
  --test: 500px;
  }
  } */